


  .preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #f6f6f6;
}
.text-load {
    position: absolute;
      top: 72%;
      left: -80px;
      right: 0;
      margin: 0 auto;
      color: #000 !important;
      font-weight: 700;
      font-size: 16px;
      background: linear-gradient(294.72deg, #FF4581 9.05%, #4388DD 79.28%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }
  .loader{
      width: 80px;
      height: 67px;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
    
  }

  .loader .square{
      background: var(--primary-color);
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border-radius: 4px;
        animation-fill-mode: both;
      animation: motion 2.5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
  }
  .loader .path{
      height: 10px;
      width: 110px;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
  }
  .loader .path > div{
      background: var(--primary-color);
      width: 10px;
      height: 10px;
      border-radius: 2px;
      margin: 0 15px;
      position: absolute;
      top: 0;
      left: 0;
      animation-fill-mode: both;
      animation: dynamic 5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
  }
  .loader .path > div:nth-child(1){ left: 40px; }
  .loader .path > div:nth-child(2){ left: 80px; }
  .loader .path > div:nth-child(3){ left: 120px; }
  .loader .path > div:nth-child(4){ left: 160px; }
  .loader .path > div:nth-child(5){ left: 200px; }
  .loader .path > div:nth-child(6){ left: 240px; }
  .loader .path > div:nth-child(7){ left: 280px; }
  @keyframes motion{
      50%{ transform: rotate(90deg); }
      100%{ transform: rotate(180deg); }
  }
  @keyframes dynamic{
      0%{ transform: translateX(-40px); }
      25%{ transform: translateX(-80px); }
      50%{ transform: translateX(-120px); }
      75%{ transform: translateX(-160px); }
      100%{ transform: translateX(-200px); }
  }