@use '../abstracts/' as *;
h3,h5 {
    text-transform: capitalize;
}
.features .block-text {
    p {
        margin-top: 11px;
    }
}


.creation .block-text {
    .title {
        font-family: 'Zen Dots';
        font-weight: 400;
    }
    p {
        font-size: 17px;
        margin-top: 13px;
    }
}

.document .block-text {
    p {

        margin-top: 12px;
    }
}

.section-faq .block-text {
    
    p {
        margin-top: 12px;
    }
}