@use '../abstracts/' as *;

.list-social {
    @include flex(center,center);

    transition: .3s all ease-in-out;
    li {
        padding: 0 8px;
        a {
            span {
                font-size: 20px;
            }
            @-webkit-keyframes pulse-grow-on-hover {
                to {
                  -webkit-transform: scale(1.1);
                  transform: scale(1.1);
                }
              }
              @keyframes pulse-grow-on-hover {
                to {
                  -webkit-transform: scale(1.1);
                  transform: scale(1.1);
                }
              }
    
            &:hover {
                -webkit-animation-name: pulse-grow-on-hover;
                animation-name: pulse-grow-on-hover;
                -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-direction: alternate;
                animation-direction: alternate;
            }
        }
    }
}

.section-team.style-1 {
    .team-box {
        position: relative;
        transition: .3s all ease-in-out;
        
        
        .team-box__image {
            a {
                width: 100%;
                position: relative;
    
                &::before {
                    @include absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(70, 13, 126, 0.41);
                    border-radius: 12px;
                }
            }
            
            img {
                height: 420px;
                border-radius: 12px;
                object-fit: cover;
                width: 100%;
            }
        }
        .team-box__info  {
            position: absolute;
            bottom: 32px;
            left: 32px;
            right: 32px;
            margin: 0 auto;
            padding: 17px 0 4px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            border-radius: 8px;
            text-align: center;
            transition: .3s all ease-in-out;
            .name {
                margin-bottom: 2px;
            }
            p.position {
                font-size: 12px;
                margin-bottom: 12px;
                color: rgba(255, 255, 255, 0.8);
            }
            .list-social {
    
                margin-top: -27px;
                li {
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s all ease-in-out;
                    padding: 0 8px;
                    &:nth-child(1) {
                        transition-delay: .2s;
                    }
                    &:nth-child(2) {
                        transition-delay: .3s;
                    }
                    &:nth-child(3) {
                        transition-delay: .4s;
                    }
                    span {
                        font-size: 19px;
                    }
                }
            }
    
        }
    
        &:hover {
            transform: translateY(-12px);
            box-shadow: 0px 12px 24px #120A47;
    
            .team-box__info {
                padding: 17px 0 8px;
                bottom: 20px;
                p.position {
                    margin-bottom: 13px;
                }
                .list-social {
                    display: flex;
                    margin-top: 0;
                    li {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    
        @include desktop-1200 {
            margin-bottom: 30px;
        }
    }
}
.section-team.style-2 {
    padding: 120px 0 70px;
    

    .block-text {
        padding-top: 40px;
        position: relative;
        .sub-title  {
            text-transform: uppercase;
            color: #C004DE;
            font-weight: 700;
            letter-spacing: 3.5px;
            margin-bottom: 4px;
        }
        .title {
            font-family: 'Russo One', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1.8px;
        }
        p {
            line-height: 1.6;
            margin-top: 30px;
            padding-right: 60px;
        }
    }

    .swiper {
        margin-right: -175px;

        @include desktop-1200 {
            margin-right: 0;
        }
        
    }

    .swiper-button-next , .swiper-button-prev {
        z-index: 99;
        width: 40px;
        height: 40px;
        top: 125%;

        svg {
            width: 40px;
            height: 40px;
        }

        &::after {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 82%;
    }

    .team-box {
        max-width: 279px;
        .team-box__image {
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            &::before {
                @include absolute;
                width: 100%;
                height: 0;
                background: linear-gradient(90deg, rgba(61,191,187,0.3) 0%, rgba(134,53,189,0.3) 100%);
                border-radius: 50%;
                transition: 0.3s all ease-in-out;
                transform: translateY(-100%);
                opacity: 0;
                visibility: hidden;
            }
            img {
                height: auto;
                border-radius: 50%;
            }
            .list-social {
                position: absolute;
                top: 47%;
                left: 0;
                right: 0;
                margin: 0 auto;

                @include flex(center,center);
                li {
                    margin: 0 0px;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s all ease-in;
                    transition-delay: 0.2s;
                    &:nth-child(1) {
                        transition-delay: 0.1s;
                    }
                    &:nth-child(2) {
                        transition-delay: 0.2s;
                    }
                    &:nth-child(3) {
                        transition-delay: 0.3s;
                    }
                    &:nth-child(4) {
                        transition-delay: 0.4s;
                    }

                    
                    a {
                        &::before {
                            background: none;
                        }
                        span {
                            font-size: 20px;

                        }
                    }
                }
            }

            
        }
        .team-box__content {
            text-align: center;
            margin-top: 28px;

            .name {
                margin-bottom: 6px;
            }
        }

        &:hover {
            transform: translateY(0);
            .team-box__image {
                &::before {
                    height: 100%;
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                } 

                .list-social {
                    li {
                        opacity: 1;
                        visibility: visible;

                        a {
                            @-webkit-keyframes pulse-grow-on-hover {
                                to {
                                  -webkit-transform: scale(1.1);
                                  transform: scale(1.1);
                                }
                              }
                              @keyframes pulse-grow-on-hover {
                                to {
                                  -webkit-transform: scale(1.1);
                                  transform: scale(1.1);
                                }
                              }
                    
                            &:hover {
                                -webkit-animation-name: pulse-grow-on-hover;
                                animation-name: pulse-grow-on-hover;
                                -webkit-animation-duration: 0.3s;
                                animation-duration: 0.3s;
                                -webkit-animation-timing-function: linear;
                                animation-timing-function: linear;
                                -webkit-animation-iteration-count: infinite;
                                animation-iteration-count: infinite;
                                -webkit-animation-direction: alternate;
                                animation-direction: alternate;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-team.style-3 {
    padding: 80px 0;

    .block-text {
        .title {
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
        }
    }
    
}

.team-box-s3 {
    text-align: center;
    border: 2px solid;
    border-image-slice: 0;
    border-image-source: linear-gradient(to left,transparent, transparent);

    padding: 22px 0 19px;
    background: transparent;
    transition: .3s all ease-in-out;
    .team-box__image {
        img {
            border-radius: 50%;
        }
    }

    .team-box__info {
        
        .name {
            font-size: 24px;
            margin-top: 29px;
        }
        .list-social {
            margin-top: 23px;

            li {
                padding: 0 8px;

                a {
                    span {
                        font-size: 20px;
                    }

                }
            }
        }
    }

    &:hover {
        border-image-slice: 1;
        background: rgba(46, 114, 210, 0.1);
        border-image-source: linear-gradient(to left, #6A0A6B, #13B8BA);
    }
}

.section-team.style-4 {
    padding: 83px 0 50px;

    .block-text {
        .sub-title {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #48D6D2;
            letter-spacing: 3px;
            margin-bottom: 6px;
        }
    }
}

.team-box-s4 {
    background: #13316B;
    border-radius: 12px;
    padding: 38px 0 31px;
    margin-bottom: 30px;
    border: 2px solid transparent;
    transition: 0.3s all ease-in-out;
    .team-box__image {
        

        img {
            min-width: 120px;
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
    }
    .team-box__info {
        
        .name {
            font-size: 24px;
            margin-top: 34px;
            margin-bottom: 5px;
        }
        .list-social {
            margin-top: 22px;
            li a span::before {
                color: #A09FAF;
            }
        }
    }

    &:hover {
        border: 2px solid #48D6D2;
    }
}

.section-team.style-5 {
    padding: 83px 0 45px;
    .container.map {
        max-width: 1672px;
    }

    .list-statis {
        display: flex;
        margin-top: 55px;
        li {
            margin-right: 108px;
            padding-left: 33px;
            position: relative;
            @include tablet {
                margin-right: 90px;
            }

            &::before {
                @include absolute;
                top: 16px;
                width: 2px;
                height: 60px;
                background: #B4E116;
            }
            p {
                margin-bottom: 4px;
                color: #636770;
            }
        }
        @include tablet {
            flex-wrap: wrap;
        }
    }
    .team__main {
        margin-top: 50px;

        position: relative;

        img {
            width: 100%;
        }
    }

}
.team-box-5 {
    .menu-tab {
        li {
            position: absolute;
            display: flex;
    
            @include tablet {
                position: unset;
            }
    
            &:nth-child(1) {
                top: 316px;
                right: 336px;
            }
            &:nth-child(2) {
                top: 128px;
                right: 224px;
            }
            &:nth-child(3) {
                top: 105px;
                right: 390px;
            }
            &:nth-child(4) {
                top: 172px;
                right: 602px;
            }
            &:nth-child(5) {
                top: 397px;
                right: 687px;
            }
            &:nth-child(6) {
                top: 383px;
                right: 807px;
            }
            &:nth-child(7) {
                bottom: 161px;
                right: 195px;
            }
            &:nth-child(8) {
                top: 40px;
                left: 560px;
            }
            &:nth-child(9) {
                top: 40px;
                left: 357px;
            }
            &:nth-child(10) {
                top: 180px;
                left: 170px;
            }
            &:nth-child(11) {
                top: 315px;
                left: 284px;
            }
            &:nth-child(12) {
                bottom: 207px;
                left: 504px;
            }
            .team-box__image {
                width: 64px;
                min-width: 64px;
                height: 64px;
                border: 2px solid #fff;
                border-radius: 50%;
                
                margin-right: 20px;
                position: relative;
        
        
                @include flex(center,center);
        
                img {
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                }
        
                &::after {
                    @include absolute;
                    top: auto;
                    border-color: #fff transparent transparent transparent;
                    border-style: solid;
                    border-width: 18px 6px 0px 6px;
                    height: 0px;
                    width: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -18px;
                }
            }
            &.active {
                .team-box__image {
                    width: 92px;
                    min-width: 92px;
                    height: 92px;
                    border: 2px solid #B4E116;
    
                    img {
                        width: 74.75px;
                        height: 74.75px;
                    }
            
                    &::after {
                        border-color: #B4E116 transparent transparent transparent;
                    }
                }
            }
        }

        @include tablet {
            display: flex;
            margin-top: -60px;
            padding-bottom: 50px;
            overflow-x: auto;
        }
        @include mobile {
            margin-top: 60px;
        }
    }


    .content-inner {
        position: absolute;
        backdrop-filter: blur(12px);
        height: 220px;
        width: 330px;


        &:nth-child(1) {
            top: 316px;
            right: 6px;
        }
        &:nth-child(2) {
            top: 128px;
            right: -96px;
        }
        &:nth-child(3) {
            top: 105px;
            right: 60px;
        }
        &:nth-child(4) {
            top: 172px;
            right: 282px;
        }
        &:nth-child(5) {
            top: 397px;
            right: 367px;
        }
        &:nth-child(6) {
            top: 383px;
            right: 487px;
        }
        &:nth-child(7) {
            bottom: 161px;
            right: -125px;
        }
        &:nth-child(8) {
            top: 40px;
            left: 670px;
        }
        &:nth-child(9) {
            top: 40px;
            left: 465px;
        }
        &:nth-child(10) {
            top: 180px;
            left: 275px;
        }
        &:nth-child(11) {
            top: 315px;
            left: 390px;
        }
        &:nth-child(12) {
            bottom: 78px;
            left: 604px;
        }

        @include tablet {
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            transform: translateX(50%);
        }
        @include mobile {
            transform: translateX(0);
        }
        .team-box__info {
            width: 330px;
            height: 220px;
            border: 1px solid #B4E116;
            padding: 22px 19px;
            background: rgba(111, 140, 7, 0.2);
            
    
            .position {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1.2px;
            }
            .name {
                color: #B4E116;
                margin-bottom: 14px;
            }
            .list-social {
                justify-content: flex-start;
                margin-left: -8px;
                margin-top: 21px;
            }
        }
    }
    
    

}

.section-team.style-6 {
    padding: 103px 0;
    .block-text {
        .heading {
            font-family: 'Rowdies', cursive;
            font-weight: 700;
            margin-bottom: 60px;
        }
    }

    .container.s2 {
        max-width: 100%;
        margin-top: 83px;
        .swiper {
            padding: 0 7px;
        }
    }
}

.team-box-6 {
    border-radius: 12px;
    position: relative;
    transition: 0.3s all ease-in-out;
    @include desktop-1200 {
        margin-bottom: 30px;
    }

    .team-box__image {
        a {
            width: 100%;
        }
        img {
            border-radius: 12px;
            width: 100%;
        }
    }
    .team-box__content {
        position: absolute;
        width: 100%;
        height: 64px;
        bottom: 0;
        left: 0;
        background: rgba(92, 21, 148, 0.9);
        backdrop-filter: blur(12px);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding-top: 6px;
        transition: 0.3s all ease-in-out;

        @include flex (center,center);

        span {
            font-size: 27px;
            margin-right: 14px;
            &::before {
                transition: 0.3s all ease-in-out;

            }
        }
        .title {
            font-size: 24px;
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-20px);

        .team-box__content {
            background: #fff;

            span:before {
                color: #5C1594;
            }
            .title {
                color: #5C1594;
            }
        }
    }
}
.swiper .team-box-6 {
    .team-box__content {
        height: 56px;
        padding-top: 0;
        a {
            margin-bottom: 0;
            line-height: 1;
        }
        span {
            font-size: 22px;
            transform: translateY(-5px);
        }
        .title {
            font-size: 22px;
        }
    }
}
.swiper .team-box-6:hover {
    transform: none;
}

.section-team.style-7 {
    padding: 78px 0 124px;
    position: relative;
    .block-text {
        .heading {
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
            text-transform: none;
        }
    }
    .swiper-pagination {
        bottom: 72px;
        .swiper-pagination-bullet {
            width: 20px;
            height: 6px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 12px;
            margin: 0 3px;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                width: 32px;
                background: #48D6D2;
            }
        }
    }
}

.team-box-7 {
    border: 2px solid transparent;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s all ease-in-out;


    .team-box__image {
        a {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    .team-box__info {
        background: rgba(72, 214, 210, 0.1);
        padding: 25px 20px 13px;
        .name {
            font-size: 24px;
        }

        .list-social {
            justify-content: flex-start;
            margin-top: 31px;
            margin-left: -8px;
        }
    }

    &:hover {
        border: 2px solid #48D6D2;
    }
}

.team-8 {
    .flat-tabs {
        display: flex;

        .menu-tab {
            width: 20%;
            padding-top: 20px;
            li {
                cursor: pointer;
                .image {
                    width: 102.86px;
                    height: 102.86px;
                    min-width: 102.86px;
                    border: 5px solid #C004DE;
                    transform: rotate(45deg);
                    overflow: hidden;
                    opacity: 0.4;
    
                    img {
                        transform: rotate(-45deg) translateY(-35px);
                        width: 150px;
                        height: 150px;
                    }
    
                    
                }
                &.active {
                    .image {
                        opacity: 1;
                        border-width: 6px;
                    }
                }
                &:nth-child(1) {
                    margin-left: 107px;
                }
                &:nth-child(2) {
                    margin-left: 20px;
                    margin-top: -22px;
                }
                &:nth-child(3) {
                    margin-left: 107px;
                    margin-top: -22px;
                }
                &:nth-child(4) {
                    margin-left: 20px;
                    margin-top: -22px;
                }
                &:nth-child(5) {
                    margin-left: 107px;
                    margin-top: -22px;
                }
            }
        }
        .content-tab {
            width: 80%;
            padding-left: 30px;
            .content-inner {
                display: flex;
                .image {
                    background: rgba(192, 4, 222, 0.2);
                    position: relative;
                    width: 516px;
                    overflow: hidden;
                    clip-path: polygon(
                        0 28px,
                        28px 0,
                        calc(100% - 28px) 0,
                        100% 28px,
                        100% calc(100% - 28px),
                        calc(100% - 28px) 100%,
                        28px 100%,
                        0% calc(100% - 28px),
                        0% 28px
                    );
                    @include flex (center, center);
                    &::before {
                        @include absolute;
                        background: url('./../../assets/images/background/bg-team.png') no-repeat;
                        background-size: contain;
                        background-position: top center;
                        width: 100%;
                        height: 100%;
                    }
                    img {
                        margin-top: 54px;
                        width: 428px;
                        height: 420px;
                    }
                }
                .content {
                    width: calc(100% - 516px);
                    padding-left: 83px;
                    .block-text {
                        .heading {
                            font-family: 'Zen Dots', cursive;
                            font-weight: 400;
                        }
                        p {
                            margin-top: 13px;
                        }
                    }
                    .info {
                        background: rgba(55, 18, 61, 0.5);
                        padding: 43px 40px;
                        margin-top: 49px;
                        position: relative;

                        clip-path: polygon(
                            0 28px,
                            28px 0,
                            calc(100% - 28px) 0,
                            100% 28px,
                            100% calc(100% - 28px),
                            calc(100% - 28px) 100%,
                            28px 100%,
                            0% calc(100% - 28px),
                            0% 28px
                        );

                        [class^="icon-union"] {
                            position: absolute;
                            font-size: 68px;
                            transition: 0.3s all ease-in-out;
                            
                            &::before {
                                color: rgba(192,4,222,0.4);
                            }
                    
                            &:nth-child(1) {
                                left: -1px;
                                top: -1px;
                            }
                            &:nth-child(2) {
                                right: -1px;
                                top: -1px;
                            }
                            &:nth-child(3) {
                                right: -1px;
                                bottom: -1px;
                            }
                            &:nth-child(4) {
                                left: -1px;
                                bottom: -1px;
                            }
                        }
                        .name {
                            font-family: 'Zen Dots', cursive;
                            font-weight: 400;
                        }
                        p.position {
                            margin-top: -3px;
                        }
                        p.text {
                            font-size: 17px;
                            margin-top: 23px;
                            color: #FFFFFF;
                        }

                        .list-social {
                            display: flex;
                            justify-content: flex-start;
                            margin-top: 20px;
                            li {
                                width: 40px;
                                height: 40px;
                                min-width: 40px;
                                background: rgba(192,4,222,0.4);
                                border-radius: 8px;
                                margin-right: 12px;
                                z-index: 9;
                                @include flex(center,center);
                                span {
                                    font-size: 20px;
                                }
                                @-webkit-keyframes pulse-grow-on-hover {
                                    to {
                                      -webkit-transform: scale(1.1);
                                      transform: scale(1.1);
                                    }
                                  }
                                  @keyframes pulse-grow-on-hover {
                                    to {
                                      -webkit-transform: scale(1.1);
                                      transform: scale(1.1);
                                    }
                                  }
                        
                                &:hover {
                                    -webkit-animation-name: pulse-grow-on-hover;
                                    animation-name: pulse-grow-on-hover;
                                    -webkit-animation-duration: 0.3s;
                                    animation-duration: 0.3s;
                                    -webkit-animation-timing-function: linear;
                                    animation-timing-function: linear;
                                    -webkit-animation-iteration-count: infinite;
                                    animation-iteration-count: infinite;
                                    -webkit-animation-direction: alternate;
                                    animation-direction: alternate;
                                }
                        
                            }
                        }
                    }
                }
            }
        }

        @include desktop-1400 {
            flex-wrap: wrap;
            .menu-tab {
                width: 100%;
                display: flex;
                justify-content: center;
                li {
                    margin: 0 25px !important;
                }
            }
            .content-tab  {
                width: 100%;
                padding-left: 0;
                margin-top: 60px;
                .content-inner {
                    .image {
                        width: 360px;
                        height: 340px;
                        img {
                            width: 100%;
                        }
                    }
                    .content {
                        width: calc(100% - 360px);
                        padding-left: 30px;
                    }
                }
                
            }
        }

        @include mobile {
            .menu-tab {
                flex-wrap: wrap;
                li {
                    margin-bottom: 50px !important;
                    &:last-child {
                        margin-top: -50px !important;
                    }
                }
            }
            .content-tab {
                .content-inner {
                    flex-wrap: wrap;
                    .content {
                        width: 100%;
                        padding-left: 0;
                        padding-top: 30px;
                    }
                }
            }
        }
    }
}

.section-team.style-9 {
    padding: 80px 0 54px;
    margin-bottom: 80px;


    .block-text {
        margin-bottom: 57px;
        .heading {
            font-family: 'Oswald', sans-serif;
            font-weight: 700;
            font-size: 56px;
        }
    }

    .team-main {
        display: flex;
        flex-wrap: wrap;
    }

    .team-box-9 {
        max-width: 300px;

        @include tablet {
            margin-bottom: 30px;
        }
        .team-box__image {
            img {
                border-radius: 20px;
            }
        }

        .team-box__content {
            text-align: center;
            padding: 16px 10px 10px;

            .title {
                font-size: 24px;
                font-weight: 600;
                font-family: 'Oswald', sans-serif;
                margin-bottom: 7px;
                background: linear-gradient(-294.72deg, #4B50E6 9.05%, #E250E5 79.28%);
                background-clip: text;
                -webkit-background-clip: text;
                font-weight: 700;
                background-size: 200% 200%;
                transition: color .2s ease-in-out;

                span {
                    margin-left: 10px;
                    &::before {
                        background: linear-gradient(-294.72deg, #4B50E6 9.05%, #E250E5 79.28%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    font-weight: 700;
                    background-size: 200% 200%;
                    transition: color .2s ease-in-out;
                    }
                }

                &:hover {
                    color: transparent;

                    span:before {
                        color: transparent;
                    }
                }
            }

            p {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        &:nth-child(1) {
            .team-box__image {
                img {
                    clip-path: polygon(
                        0 0,
                        0 0,
                        100% 0,
                        100% 0,
                        92% 100%,
                        100% 100%,
                        0 100%,
                        0% 100%,
                        0% 0
                    );
                }
            }
            .team-box__content {
                padding: 16px 10px 10px;
            }
        }
        &:nth-child(2) {
            margin-left: 3px;
            .team-box__image {
                img {
                    clip-path: polygon(
                        0 0,
                        0 0,
                        100% 0,
                        100% 0,
                        100% 100%,
                        100% 100%,
                        0 100%,
                        0% 100%,
                        8% 0
                    );
                }
            }
            
        }
        &:nth-child(3) {
            padding-left: 22px;
            .team-box__image {
                img {
                    clip-path: polygon(
                        0 0,
                        0 0,
                        100% 0,
                        100% 0,
                        92% 100%,
                        100% 100%,
                        0 100%,
                        0% 100%,
                        0% 0
                    );
                }
            }
            .team-box__content {
                padding-left: 30px;
            }
        }
        &:nth-child(4) {
            padding-left: 22px;
            .team-box__image {
                img {
                    clip-path: polygon(
                        0 0,
                        0 0,
                        100% 0,
                        100% 0,
                        100% 100%,
                        100% 100%,
                        0 100%,
                        0% 100%,
                        8% 0
                    );
                }
            }
            .team-box__content {
                padding-left: 30px;
            }
        }
    }
    
}