
// Color
$text-color : #F6F6F6;
$white: #fff;
// var(--primary-color): #FF4581;
$gradient-color1: #4388DD;
$gradient-color2: #FF4581;
$primary-opacity01 : rgba(192,4,222,0.1);
$line : rgba(192,4,222,0.2);

// Font
$font-main: 'Zen Dots';
$font-second: 'Inter', sans-serif;


$header-height: 88px;
$header-shrink-height: 90px;

$mobile-width: 767px;
$tablet-width: 1024px;
$desktop-width: 1200px;
$desktop-1350: 1350px;
$desktop-1900 : 1900px;


$box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
$bg-overlay: rgba(0,0,0,0.5);